$bg-color: #232c34;
$font-color: #09d3ac;

body {
  background-color: $bg-color;
  text-align: center;
}

.helloWebpack {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20px;
  color: $font-color;
}

.logoImg {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -80px;
}
